<div class="row">
	<div class="col-md-4">
		<div ui-calendar="vm.uiConfig.calendar" ng-model="vm.events"></div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-info">
		  <div class="panel-body row">
			  <div class="col-md-4">
			<img class="img-responsive img-circle" src="{{vm.user.picture}}" alt="">
				  
			  </div>
		    Panel content
		  </div>
		  <div class="panel-footer panel-primary">{{vm.user.displayName}}</div>
		</div>
	</div>
</div>

<div class="btn btn-default" ng-click="vm.logout()">Logout</div>