

<table class="table table.striped" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Delete</th>
    </tr>
   </thead>
   <tbody>
     <tr ng-repeat="event in dashboard.user.events">
       <td>{{event.title}}</td>
       <td>{{event.start}}</td>
       <td><a ng-click="dashboard.deleteEvent(event)"><span class="glyphicon glyphicon-remove-sign text-warning" > </span>Delete</a></td>
     </tr>
   </tbody>
</table>
<md-button ng-click="event.openBottomSheet()">
    Open a Bottom Sheet!
  </md-button>
<a class="waves-effect waves-light btn modal-trigger" href="#createModal" >Create Event</a>



<div class="modal" id="createModal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create New Event</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" placeholder="Title" ng-model="event.title">
            </div>
          </div>
          <div class="form-group">
            <label for="start" class="col-sm-2 control-label">Start Time</label>
            <div class="col-sm-10">
              <input type="date" class="datepicker" id="start" ng-model="event.startTime">
            </div>
            <div class="form-group">
            <label for="end" class="col-sm-2 control-label">End Time</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="end" ng-model="event.endTime">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model='event.allDay'> All Day?
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model='event.isEditable'> Editable
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <select ng-model='event.group' class='form-control'> 
                  <option ng-repeate ="grp in event.groups" value="{{grp.id}}">{{grp.name}}</option>
                </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-action modal-close btn-flat" data-dismiss="modal">Close</button>
        <button type="button" class="modal-action modal-close btn-flat" ng-click="event.scheduleEvent()">Save</button>
      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->