
<div class="dashboard">
    <div layout="row" layout-margin class="cyan">

        <div flex>
            <img class="responsive-img margin-top-20" src="./images/logo.png" alt="">
        </div>
        <div flex>
            <div class="lock-size" layout="row" layout-align="end center">
                <md-fab-speed-dial md-open="dashboard.isOpen" md-direction="{{dashboard.nav.selectedDirection}}"
                                   ng-class="dashboard.nav.selectedMode">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-warn">
                            <md-icon class="material-icons"">menu</md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button  class="md-fab md-raised md-mini">
                            <md-tooltip>
                               Events
                            </md-tooltip>
                            <md-icon class="material-icons cyan-text">perm_contact_calendar</md-icon>
                        </md-button>
                        <md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="dashboard.openBottomSheet()">
                            <md-tooltip>
                                Create Event
                            </md-tooltip>
                            <md-icon class="material-icons green-text">add_box</md-icon>
                        </md-button>
                        <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="dashboard.logout()">
                            <md-tooltip>
                                Log out
                            </md-tooltip>
                            <md-icon class="material-icons black-text">phonelink_off</md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </div>

    </div>
    <div layout="row" >
        <md-content>
            <md-list flex>
                <md-subheader class="md-no-sticky">3 line item</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in dashboard.user.events">
                    <img ng-src="{{dashboard.user.picture}}" class="md-avatar" alt="" />
                    <div class="md-list-item-text">
                        <h3>{{ item.title }}</h3>
                        <h4>{{ item.start }}</h4>
                        <p>{{ item.allDay }}</p>
                    </div>
                </md-list-item>
            </md-list>
            <md-card flex>
                <img class="nd-card-image" src="{{dashboard.user.picture}}">
                <md-card-content>
                    <ul>
                        <li>Events: {{dashboard.user.events.length}}</li>
                        <li>Username: {{dashboard.user.displayName}}</li>
                    </ul>
                </md-card-content>
            </md-card>

        </md-content>
  </div>

                <ui-view></ui-view>
        </div>
</div>

					
