
<div class="dashboard cyan lighten-5">
    <div layout="row" layout-margin class="cyan">

        <div flex>
            <img class="responsive-img margin-top-20" src="./images/logo.png" alt="">
        </div>
        <div flex>
            <div class="lock-size" layout="row" layout-align="end center">
                <md-fab-speed-dial md-open="dashboard.isOpen" md-direction="{{dashboard.nav.selectedDirection}}"
                                   ng-class="dashboard.nav.selectedMode">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-warn">
                            <md-icon class="material-icons"">menu</md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button  class="md-fab md-raised md-mini" ng-click="dashboard.openCalendar()">
                            <md-tooltip>
                               Events:{{dashboard.user.events.length}}
                            </md-tooltip>
                            <md-icon class="material-icons cyan-text">perm_contact_calendar</md-icon>
                        </md-button>
                        <md-button aria-label="facebook" class="md-fab md-raised md-mini" ng-click="dashboard.openBottomSheet()">
                            <md-tooltip>
                                Create Event
                            </md-tooltip>
                            <md-icon class="material-icons green-text">add_box</md-icon>
                        </md-button>
                        <md-button  class="md-fab md-raised md-mini" ng-click="dashboard.logout()">
                            <md-tooltip>
                                Log out
                            </md-tooltip>
                            <md-icon class="material-icons black-text">phonelink_off</md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </div>

    </div>
    <div layout="row" >
        <div flex="40" offset="5">
            <h2>Events</h2>
            <h4 ng-if="dashboard.user.events.length === 0">
                Currently No events. Would like like to create one?
                <md-button ng-click="dashboard.openBottomSheet()">Create Event</md-button>
            </h4>
            <md-card ng-repeat="item in dashboard.user.events" class="grey lighten-1">
                <md-button  class="md-fab md-raised md-mini" >
                    <img src="{{dashboard.user.picture}}" class="md-avatar" alt="image caption">
                </md-button>

                <md-card-content>
                    <h3>Event: {{ item.title }}</h3>
                    <h4>Stat Time: {{ item.start }}</h4>
                </md-card-content>
                <md-card-footer>
                    <md-button  class="md-fab md-raised md-mini" ng-click="dashboard.deleteEvent(item)">
                        <md-tooltip>
                            Delete
                        </md-tooltip>
                        <md-icon class="material-icons red-text">remove</md-icon>
                    </md-button>
                </md-card-footer>
            </md-card>
        </div>
        <ui-calendar  flex='50' ui-calendar='dashboard.uiConfig' ng-model='dashboard.events'></ui-calendar>

  </div>


        </div>
</div>

					
