

<table class="table table.striped" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Delete</th>
    </tr>
   </thead>
   <tbody>
     <tr ng-repeat="event in dashboard.user.events">
       <td>{{event.title}}</td>
       <td>{{event.start}}</td>
       <td><a ng-click="dashboard.deleteEvent(event)"><span class="glyphicon glyphicon-remove-sign text-warning" > </span>Delete</a></td>
     </tr>
   </tbody>
</table>
<md-button ng-click="event.openBottomSheet()">
    Open a Bottom Sheet!
  </md-button>
<a class="waves-effect waves-light btn modal-trigger" href="#createModal" >Create Event</a>



<div class="modal" id="createModal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create New Event</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="modal-action modal-close btn-flat" data-dismiss="modal">Close</button>
        <button type="button" class="modal-action modal-close btn-flat" ng-click="event.scheduleEvent()">Save</button>
      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->