 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a ui-sref="dashboard.event">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a ng-click="dashboard.logout()">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div id="calendar" ui-calendar="dashboard.uiConfig.calendar" ng-model="dashboard.events"></div>
                    </div>
					<div class="col-md-4">
						<div class="panel panel-info">
						  <div class="panel-body row">
							  <div class="col-md-4">
							<img class="img-responsive img-circle" src="{{dashboard.user.picture}}" alt="">
								  
							  </div>
						   <p>#events: {{dashboard.user.events.length}}</p>
						  </div>
						  <div class="panel-footer panel-primary">{{dashboard.user.displayName}}</div>
						  {{dashboard.user.id}}
						  <a ui-sref="dashboard.event"> events</a>
						</div>
					</div>
					<div class="col-md-4">
						<ui-view></ui-view>
					</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>